{{>navbarAdmin}}
<div class="container mt-5">
    {{#each erros}}
        <p class="alert alert-danger">{{text}}</p>
    {{else}}
    {{/each}}
    {{>msg}}
    <form action="/admin/addpost" method="post">
        <h4>Criar postagem</h4>
        <hr>
        <div class="row g-3">
            
            <div class="col-12">
                <label for="title" class="form-label">Título da postagem</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="title" placeholder="Título" required>
                </div>
            </div>
            <div class="col-12">
                <label for="description" class="form-label">Descrição</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="description" placeholder="Descrição" required>
                </div>
            </div>
            <div class="col-12">
                <label for="slug" class="form-label">Slug</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="slug" placeholder="Slug" required>
                </div>
            </div>
            <div class="col-12">
                <label for="category" class="form-label">Categoria</label>
                <div class="input-group">
                <select name="category" class="form-select">
                    {{#each categories}}
                    <option value="{{_id}}">{{nome}}</option>
                    {{/each}}
                </select>
                </div>
            </div>
            <div class="col-12">
                <label for="content" class="form-label">Conteúdo</label>
                <div class="input-group">
                <textarea class="form-control" name="content">Conteúdo</textarea>
                </div>
            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg mb-1" type="submit">Adicionar</button>
        </div>
    </form>
</div>