<div class="artCard bg-dark text-center overflow-hidden text-white" style="width: 90%; border-radius: 10px;">
    <div class="my-3 p-3">
        <h2 class="display-5">Categorias</h2>
        <p class="lead">Conheça nossos tipos</p>
        <a href="/categories" class="btn btn-success">Ir</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto categoriaBackground"
        style="width: 60%;  height: 300px; border-radius: 21px 21px 0 0;">
    </div>
</div>