

<div class="artCard bg-light text-center overflow-hidden" style="width: 90%; border-radius: 10px;">
    <div class="my-3 p-3">
        <h2 class="display-5">Crie uma postagem</h2>
        <p class="lead">Faça parte do nosso time</p>
        <a href="/criar-post" class="btn btn-success">Ir</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto novidadeBackground"
        style="width: 60%;  height: 300px; border-radius: 21px 21px 0 0;">
    </div>
</div>