<a href="/posts/{{_id}}" style="text-decoration: none;">
    <div class="category">
        <span class="partOne">
            <img src="/img/category.png" alt="logo">
            <p>{{nome}}</p>
        </span>
        <span id="line"></span>
        <span class="partTwo">
            <div class="date">postada em </div>
            <div class="quantPosts">
                23 posts
            </div>
        </span>
        <input id="currentDate" type="hidden" value="{{date}}">
        <input id="currentIdcategory" type="hidden" value="{{_id}}">
    </div>
</a>