<header>
    <nav class="navbar navbar-light bg-transparent h-auto">
        <div class="container-fluid">
            <div class="logoNavbar">
                <a href="/"><img src="/img/logoCodeLearn.png" class="imgNavbar" alt="logo"></a>
                <a class="navbar-brand text-lightgrey mt-2 p-1 fw-bolder" href="#">Code Learn</a>
            </div>
        </div>
    </nav>
</header>