

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <div>
      <img src="/img/navbar/save.svg" alt="save" width="30px" height="30px" style="opacity: .8;">
    </div>
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Postagens salvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
    <div class="d-flex flex-column gap-2">
      <input type="text" id="searchSavePosts" class="form-control" placeholder="Procurar um post..." style="border-radius: 10px;">
      <small id="numberPosts-savePosts">0 posts</small>
    </div>

    <div class="__line__ mt-2 mb-2"></div>

    <div class="posts-offcanvas" style="height: 80%;">

      <div class="w-100 d-flex justify-content-center align-items-center" style="height: 80%;">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    
    </div>

  </div>
</div>

<style>
  .offcanvas{
    height: 100%;
  }
  .savePost-component:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
  }
  .savePost-component p:hover{
    color: rgba(73, 24, 119, 0.4);
  }
</style>