<div class="card404">
    <div class="cardTextFirst">
        <span id="textFirst404">#4<img id="emoji" src="/img/frown-face.png">4 </span>
        <img id="imgCodeLearn" src="/img/404logo.png" alt="logo">
    </div>
    <span id="textSecond404">Página não encontrada</span>
</div>