{{>navbar}}
<section class="roleCategories">
    
    {{!-- inject categories --}}

</section>
<section class="cardFirst">
    <div class="textShowBlog">
        <span>
            <h2>Code Learn</h2>
            <p>Conheça o seu manual Dev de programação. Aqui você encontra tudo sobre o universo mágico do
                desenvolvimento.</p>
            <a href="/cadastro" style="text-decoration: none;">
                <button class="btnRegister" type="button">
                    <p class="m-0">Cadastre-se</p>
                    <img src="/img/homePage/right-arrow.png" alt="arrow">
                </button>
            </a>
        </span>
    </div>
    <div class="logoCard">
        <span>
            <img src="/img/logoCodeLearn.png" alt="logo" height="90px" width="90px">
        </span>
    </div>
</section>
<!--Arts com botões linkados-->
<section class="card2">
    <div style="flex: 1;" class="d-flex justify-content-center align-items-center">
        {{>cardArtTwo}} 
    </div class="">
    <div style="flex: 1;" class="d-flex justify-content-center align-items-center">
        {{>cardArtOne}} 
    </div>
</section>
<!--Seção de postagens-->
<section class="cardPosts" style="background-color: #F1F1F1;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main cardPostsHomePage mt-3">
                <h3 class="pb-3 mb-4 font-italic border-bottom">Postagens Dev</h3>
                {{#each posts}}
                
                {{!-- post --}}

                {{>postHomePage}}
                
                {{!-- post --}}

                {{else}}
                <h4>Sem postagens</h4>
                {{/each}}
                <div id="paginationComponent">
                    <nav aria-label="...">
                        <ul class="pagination">

                            {{!-- pagination --}}

                        </ul>
                    </nav>
                </div>
            </div>
            <input type="hidden" value="{{numberPages}}" name="numberPages">
            <div class="col-md-1"></div>
            <aside class="col-md-3 blog-sidebar mt-3">
                <div class="p-3 mb-3 bg-light rounded" style="box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);">
                    <h4 class="font-italic">Sobre</h4>
                    <p class="mb-0">A linguagem de programação é um método padronizado, formado por um conjunto de
                        regras sintáticas e semânticas, de implementação de um código fonte - que pode ser compilado e
                        transformado em um programa de computador,[1] ou usado como script interpretado - que informará
                        instruções de processamento ao computador</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Redes Sociais</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </aside>
        </div>
    </div>
</section>
<!--footer-->
{{>footer}}