
/*Navbar*/
.navbar{
    height: 70px;
}
.logo{
    width: 50px;
    border-radius: 5px;
}
.navMedia{
    visibility: hidden;
    display: none;
}
@media (max-width: 900px){
    .navMedia{ 
        visibility: hidden;
        overflow-y: scroll;
        height: 0vh;
        transition: .5s;
        width: 100%;
        position: absolute;
        z-index: 1;
        display: block;
    }
    .show{
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 70px);
    }
    .btnsNav{
        margin-top: 20px;
    }
    .btnsNav li{
        padding: 5px;
    }
    .btnsNav a{
        text-decoration: none;
        color: lightgrey;
        border: 0;
        border-bottom: 3px solid lightgray;
        display: block;
        margin-left: -28px;
    }
    .btnsNav a:focus{
        border: 3px solid green;
        border-radius: 5px;
        
    }
}
/*Navbar*/

/*Card principal do home page*/
.row{
    --bs-gutter-x: 0;
}

.banner{
    height: 515px;
}

/*Card secundário*/
.novidadeBackground{
    background-image: url('/img/developer_4x.gif');
}

.categoriaBackground{
    background-image: url('/img/languages.jpg');
}

/*Card dos posts*/

